<div class="first_content">
  <h3 class="content_text">Für welchen Bereich suchen Sie eine HR-Software?</h3>
  <div class="row">

    <div class="col-md-3 col-6 cart_box">
      <a href="#!second" ng-click="animate(0,20)">
        <label for="">
          <div>
            <span class="fa fa-user-check"></span>
          </div>
          <p>Bewerbermanagement</p>
        </label>
      </a>
    </div>
    <div class="col-md-3 col-6 cart_box">
      <a href="#!second" ng-click="animate(0,20)">
        <label for="">
          <div>
            <span class="fa fa-file-alt"></span>
          </div>
          <p>Digitale Personalakte</p>
        </label>
      </a>
    </div>
    <div class="col-md-3 col-6 cart_box">
      <a href="#!second" ng-click="animate(0,20)">
        <label for="">
          <div>
            <span class="fa fa-users"></span>
          </div>
          <p>Personalentwicklung</p>
        </label>
      </a>
    </div>
    <div class="col-md-3 col-6 cart_box">
      <a href="#!checkout" ng-click="animate(0,40)">
        <label for="">
          <div>
            <span class="far fa-question-circle"></span>
          </div>
          <p>Mehrere Bereiche</p>
        </label>
      </a>
    </div>
  </div>
</div>
