<div class="second_content">
  <h3 class="content_text">Nutzen Sie bereits eine HR-Software in diesem Bereich?</h3>
  <div class="row">
    <div class="col-md-3 col-6 cart_box">
      <a href="#!thid" ng-click="animate(20,60)">
        <label for="">
          <div>
            <span class="fa fa-check"></span>
          </div>
          <p>Ja</p>
        </label>
      </a>
    </div>
    <div class="col-md-3 col-6 cart_box">
      <a href="#!thid" ng-click="animate(20,60)">
        <label for="">
          <div>
            <span class="fa fa-times"></span>
          </div>
          <p>Nein</p>
        </label>
      </a>
    </div>
  </div>

</div>
